* {
  padding: 0;
  margin: 0;
}
.ProductTotalContainer{
  width: 500px;
}
.ProductCounterContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 180px;
  margin-top: 7px;
  margin-left: 40px;
}
button {
cursor: pointer;
}
.ProductCounterContainer button4 {
  background-color: #ffff;
  color: grey;
  border: 1px solid grey;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 36px;
  border-radius: 5px;
  cursor: pointer;
}
.ProductCounterContainer input {
  width: 80px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.counter{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: auto;
  background-color: black;
  color: #ffff;
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .ProductTotalContainer{
    width: 800px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
 
}
@media only screen and (max-width: 360px) {
  
}