* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerSale {
  display: flex;
  width: 1200px;
}
.containerSale h5 {
  position: absolute;

  /* display: flex; */
    margin-left: auto;
    margin-left: auto;
}
.lineSale {
  position: absolute;
  /* margin-left: 50px;  */
  /* padding-left: 30px; */
}
.saleProductContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 30px;
  display: flex;
  /* margin-top: 30px; */
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  /* height: 1300px; */
  /* margin-left: 8%; */
}
.saleProductCard {
  position: relative;
  width: 290px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productImage {
  max-width: 100%;
  height: 280px;
}
.saleProductCard img {
  max-width: 100%;
  height: auto;
  border: 0px, 0px, 1px, 0px;
  border-radius: 10px;
  z-index: 5;
}
.likedAndBasket {
  /* position: absolute; */
  top: 15px;
  right: 5px;
  z-index: 1;
}
.likedProduct1 {
  position: absolute;
  top: 15px;
  right: 5px;
  z-index: 1;
}
.basketProduct1 {
  position: absolute;
  top: 70px;
  right: 5px;
  z-index: 1;
}
.discountPercent {
  margin-top: -270px;
  margin-right: 180px;
  margin-bottom: 250px;
  right: 5px;
  max-width: 63px;
  height: auto;
  background-color: #f26d22;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  z-index: 5;
}
.discountLabel {
  position: absolute;
  top: 15px;
  left: 5px;
  max-width: 63px;
  height: auto;
  background-color: #f26d22;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  z-index: 11;
}
.description {
  margin: 5px;
  /* padding-bottom: 80px; */
}

.title {
  font-weight: 500;
  font-size: 20px;
}
.priceInfo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}
.price {
  font-weight: 600;
  font-size: 40px;
  font-style: "bold";
}
.dicountPrice {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  color: #8b8b8b;
  position: relative;
  top: 5px;
  text-decoration: line-through;
}

.dicountPrice::after {
  content: "";
  position: absolute;
  /* bottom: 55%; */
  /* left: 0;
  right: 0; */
  transform: translateY(50%);
}

/* Bread Crumbs */
.btns {
  /* right: 500px; */
  /* position: relative; */
  top: 30px;
  justify-items: start;
}
.btns button2 {
  padding-top: 200px;
  background-color: #fffff1;
  height: 30px;
  padding: 5px 20px;
  border-radius: 10px;
  position: absolute;
  text-decoration: none;
}
.btns button2:hover {
  font-weight: 600;
  color: #0e0101;
  border: 1px solid rgb(24, 3, 3);
}
.btn_mainPage button2,
.btn_allSales button2 {
  border: 1px solid rgb(208, 203, 203);
  font-weight: 500;
  color: rgb(183, 177, 177);
}
.btn_mainPage button2 :hover,
.btn_allSales button2 :hover {
  font-weight: 600;
  color: rgb(19, 7, 7);
}
.btns a {
  color: rgb(183, 177, 177);
}
.btn_mainPage button2 {
  margin-left: 55px;
}
.btn_allSales button2 {
  margin-left: 255px;
  margin-top: -15px;
}
.line__MinePageToAllSales hr {
 margin-top: 15px;
 margin-left: 180px;
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  .saleContainer {
    width: 50%;
    /* margin-left: -20px; */
  }
  .line hr {
    width: 630px;
    /* margin-top: 30px; */
    margin-left: 10px;
  }
  p {
    padding-left: 10px;
  }
  .saleButton button {
    left: 800px;
  }
  .saleContainerHeader {
    left: 30px;
  }
  .saleCard {
    width: 270px;
    margin-bottom: 90px;
  }
  .saleCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    /* position: relative; */
    /* margin-left: 50px; */
  }
}
