* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.StructureContainer {
  /* display: flex; */
  width: 1200px;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  margin: 15px 50px;
}
.CategoryProductsContainerHeader {
  margin-top: 100px;
 }
.CategoryProductsContainerHeader h1 {
  color: rgb(45, 42, 42);
  font-size: 36px;
  font-weight: 700;
  padding-top: 80px;
  margin-left: 70px;
}
.ProductsContainer {
  display: flex;
  width: 1200px;
  flex-direction: row;
  align-items: center;
}
.ProductsContainerCard {
  position: relative;
  display: flex;
  margin-top: 30px; 
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}
.ProductsContainerCard h3 {
  width: 250px;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProductsContainerCard  h3:hover {
  white-space: normal;
  overflow: visible;
  height: 70px;
}
.ProductCard img {
  max-width: 100%;
  height: auto;
  border: 0px, 0px, 1px, 0px;
  border-radius: 10px;
  z-index: 5;
  color: white;
}
.ProductCard {
   position: relative;
   width: 290px;
   margin-bottom: 20px;
   border: 1px solid #dddddd;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.likedProduct1{
  position: absolute;
  top: 15px;
  right: 5px;
  z-index: 1;
}
.basketProduct1{
  position: absolute;
  top: 70px;
  right: 5px;
  z-index: 1;
}
/* кнопки для переключения между страницами*/
.btns {
  position: relative;
  padding-top: 10px;
}
.btns button {
  padding-top: 200px;
  background-color: #fffff1;
  height: 30px;
  padding: 5px 20px;
  border-radius: 10px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
}
.btns button:hover {
  font-weight: 600;
  color: #0e0101;
  border: 1px solid rgb(24, 3, 3);
}

.btn_mainPage button,
.btn_categories button,
.btn_products button {
  border: 1px solid rgb(208, 203, 203);
  font-weight: 500;
  color: rgb(183, 177, 177);
}
.btn_mainPage button :hover,
.btn_categories button :hover,
.btn_products button :hover {
  font-weight: 600;
  color: rgb(19, 7, 7);
}
.btns a {
  color: rgb(183, 177, 177);
}
.btn_mainPage button {
  left: -400px;
}
.btn_categories button {
  left: -200px;
}
.btn_products button {
  margin-left: 455px;
}
.line {
  position: absolute;
  top: 15px;
}
.line__MinePageToCategories hr,
.line__CategoriesToProducts hr{
  position: absolute;
  top: 15px;
}
/* линии соединения кнопок-переключателей */
hr {
  width: 100px;
}
.line__MinePageToCategories hr {
  left: 181px;
}
.line__CategoriesToProducts hr {
  left: 380px;
}

