* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.StructureContainer {
  /* display: flex; */
  width: 1200px;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  margin: 15px 50px;
}
.CategoryProductsContainerHeader {
  margin-top: 130px;
 }
.CategoryProductsContainerHeader h1 {
  color: rgb(45, 42, 42);
  font-size: 36px;
  font-weight: 700;
  padding-top: 120px;
}
.ProductsContainer {
  display: flex;
  width: 1200px;
  flex-direction: row;
  align-items: center;
}
.ProductsContainerCard {
  position: relative;
  display: flex;
  margin-top: 30px; 
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}
.ProductsContainerCard h3 {
  width: 250px;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProductsContainerCard  h3:hover {
  white-space: normal;
  overflow: visible;
  height: 70px;
}
.ProductCard img {
  max-width: 100%;
  height: auto;
  border: 0px, 0px, 1px, 0px;
  border-radius: 10px;
  z-index: 5;
  color: white;
}
.ProductCard {
   position: relative;
   width: 290px;
   margin-bottom: 20px;
   border: 1px solid #dddddd;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.likedProduct1{
  position: absolute;
  top: 15px;
  right: 5px;
  z-index: 1;
}
.basketProduct1{
  position: absolute;
  top: 70px;
  right: 5px;
  z-index: 1;
}

/* кнопки для переключения между страницами*/
.btns_prod {
  /* position: relative; */
  cursor: pointer;
}
.btns_prod button3 {
  padding-top: 200px;
  background-color: #fffff1;
  height: 30px;
  padding: 5px 20px;
  border-radius: 10px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
}
.btns_prod button3:hover {
  font-weight: 600;
  color: #0e0101;
  border: 1px solid rgb(24, 3, 3);
}
.btn_mainPage button3,
.btn_categories button3{
  border: 1px solid rgb(208, 203, 203);
  font-weight: 500;
  color: rgb(183, 177, 177);
}
.btn_mainPage button3 :hover,
.btn_categories button3 :hover{
  font-weight: 600;
  color: rgb(19, 7, 7);
}
.btns_prod a {
  color: rgb(183, 177, 177);
}
.btn_mainPage button3 {
  margin-left: 55px;
}
.btn_categories button3 {
  margin-left: 255px;
  /* top: 100px; */
}
.btn_products{
  top: 20px;
}
.btn_products button3 {
  position: absolute;
  border: 1px solid #171716;
  border-radius: 7px;
  background-color: #fffff1;
  font-size: 20px;
  font-weight: 500;
  width: 125px;
  height: 25px;
  margin-top: -12px;
  color: rgb(69, 62, 62);
  margin-left: 355px;
  padding-left: 15px;
}
/* линии соединения кнопок-переключателей */
.line__CategoriesToProducts hr {
  /* position: absolute; */
  margin-top: 30px;
  margin-left: 30px;
  width: 350px;
}

