/* .container { */
  main {
    position: relative;
    /* width: 1200px; */
  }
  
  .content_discount {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #87933d;
    border-radius: 10px;
  }
  .content_discount  img {
    overflow: hidden;
    margin-top: 210px;
    margin-left: 30px;
    right: 650px;
    width: 50%;
  }
   h2 {
    display: flex;
    position: absolute;
    font-size: 64px;
    color: #fffff1;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 200px;
  }
  .firstName,
  .phoneNumber,
  .email {
    width: 100%;
    margin-top: 7px;
    height: 58px;
    border: 2px solid #fffff1;
    border-radius: 7px;
    background-color: #87933d;
    font-size: 20px;
    font-weight: 500;
    color: #fffff1;
    background: transparent;
  } 
  
  .form {
    justify-content: right;
    position: absolute;
    /* left: 500px; */
    top: 170px;
    right: 1px;
  }
  form > button {
    margin-top: 20px;
    width: 100%;
    height: 58px;
    border: 2px solid #fffff1;
    border-radius: 7px;
    background-color: #fffff1;
    font-size: 20px;
    font-weight: 500;
    color: rgb(69, 62, 62);
  }
  .btn {
    top: 220px;

    width: 100%;
    /* left: -0.5px;  */
  }
  input {
    display: flex;
  }
  @media only screen and (min-width: 1001px) and (max-width: 1440px) {
  
    .form {
      left: 600px;
      right: 30px;
    } 
    form > button {
      width: 350px;
      height: 50px;
    }
    .btn {
      top: 190px;
      left: 650px;
      right: 30px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
    .firstName,
  .phoneNumber,
  .email {
    height: 40px;
  }
    
    .form {
      left: 460px;
      right: 30px;
      top: 90px;
    } 
    form > button {
      width: 350px;
      height: 40px;
    }
    .btn {
      top: 190px;
      left: 650px;
      right: 30px;
    }
    .content_discount  img {
      margin-left: 5px;
      width: 60%;
    }
    h2 {
      padding-left: 130px;
      font-size: 48px;
    }
  }
  @media only screen and (min-width: 361px) and (max-width: 768px) {
    .content_discount  img {
      width: 600px;
      margin-top: 380px;
    } 
    
    .form {
      /* display: block; */
      /* justify-content: center; */
      left: 7%;
      right: 23%;
      top: 70px;
      width: 70%;
    } 
    .content_discount {
      height: 670px;
      background-color: #87933d;
      border-radius: 10px;
    }
    h2 {
      display: flex;
      justify-content: center;
      left: -70px;
      font-size: 22px;
    }
    
  }
  @media only screen and (max-width: 360px) {
    }
  