.sale_component{
    /* position: absolute; */
    /* top: 120px; */
  }
.pageBody{
  margin-left: auto;
  margin-right: auto;
}
  .contact_componentSale{

  }
  .main_page:hover{
    color: black;
  }